<div
  class="modal fade"
  id="contactModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    style="left: 0"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="modal__btn-close close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">Close</span>
        </button>
      </div>
      <div class="modal-body modal-body__main">
          <ul>
            <% users.forEach((contact) => {  %>
              <form action="/contacts/<%= contact.id %>" method="post">
                <h4 style="color: black;"><%= contact.username %></h4>
                    <button type="submit">Add</button>
              </form>
            <% }) %>
          </ul>
      </div>
    </div>
  </div>
</div>

