<div
  class="modal fade"
  id="contactModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    style="left: 0"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="modal__btn-close close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">Close</span>
        </button>
      </div>
      <div class="modal-body modal-body__main">
          <ul>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status online"></span>
                <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                <div class="meta">
                  <p class="name"></p>
                </div>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>

