<!-- <script>
  const file = document.querySelector('#input__file_att');
  const messageInput = document.querySelector('.message-input');

  file.addEventListener('change', () => {
    const fileName = String.raw`${file.value.split('\\').slice(-1)}`
    messageInput.innerHTML = `<p style="colore: black">${fileName}</p>` + messageInput.getInnerHTML()
  });
</script> -->

<script src="/scripts/script.js"></script>
