<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <form id="updateForm" class="updateForm">
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
      style="left: 0"
    >
      <div class="modal-content">
        <div class="modal-header">
          <button type="submit" class="btn__update">Update</button>
          <button
            type="button"
            class="modal__btn-close close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">Close</span>
          </button>
        </div>
        <div class="modal-body modal-body__main">
          <div class="modal__img">
            <label for="input__file_update">
              <img
                class="modal__profile-img"
                src="/images/<%= user.image %>"
                alt=""
              />
              <input
                type="file"
                id="input__file_update"
                class="iconToUpdate"
                name="image"
                accept=".jpg, .jpeg, .png"
              />
            </label>
          </div>
          <div class="modal__info">
            <p style="color: black">
              <span>Username:</span> <br />
              <input
                type="text"
                name="username"
                id="username"
                class="usernameToUpdate"
                value="<%= user.username %>"
              />
            </p>
            <p style="color: black">
              <span>Email:</span> <br />
              <input
                type="email"
                name="email"
                id="email"
                class="emailToUpdate"
                value="<%= user.email %>"
              />
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  const updateForm = document.querySelector('.updateForm');

  function update(event) {
    event.preventDefault();
    const url = 'https://nest-chat-zlkp.onrender.com/user';
    const formData = new FormData(updateForm);
    axios
      .patch(url, formData, {
        headers: { 'Content-Type': 'multipart/form-data' },
      })
      .then(() => location.reload())
      .catch((error) => console.log(error));
  }

  updateForm.addEventListener('submit', update);
</script>
