<%- include('partials/head') %>

<div
  class=""
  id="authModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    style="left: 0"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn btn-primary modal__btn btn__signin">Sign In</button>
      </div>
      <div class="modal-body">
        <p class="modal__title">Register</p>
        <form class="modal__form" action="/auth/register" method="post">
          <input
            type="text"
            name="username"
            placeholder="Type your name"
            required
            autocomplete="d"
            class="regist__input regist__name"
          />
          <input
            type="email"
            name="email"
            placeholder="Type your Email"
            required
            class="regist__input regist__email"
          />
          <input
            type="password"
            name="password"
            placeholder="Type your password"
            required
            autocomplete="on"
            class="regist__input regist__password"
          />
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('partials/scripts') %>
<script>
  const form = document.querySelector('.modal__form'),
    signBtn = document.querySelectorAll('.btn__signin'),
    input = document.querySelector('.regist__name'),
    modalTitle = document.querySelector('.modal__title');

  let changeState = true;

  signBtn.forEach((el) => {
    el.addEventListener('click', (evt) => {
      evt.preventDefault();

      if (changeState) {
        changeState = false;
        form.setAttribute('action', '/auth/login');
        modalTitle.textContent = 'Log In';
        el.textContent = 'Sign Up';
      } else {
        changeState = true;
        form.setAttribute('action', '/auth/register');
        modalTitle.textContent = 'Register';
        el.textContent = 'Sign In';
      }
      isStateChanged();
    });
  });

  function isStateChanged() {
    if (changeState) {
      input.style.display = 'block';
      input.setAttribute('required');
    } else {
      input.style.display = 'none';
      input.removeAttribute('required');
    }
  }
</script>

